[Unit]
Description=Kanata Tray Icon
After=kanata.service

[Service]
WorkingDirectory=%h
ExecStart=/usr/bin/kanata-tray
Restart=always

[Install]
WantedBy=graphical-session.target
