[Unit]

Description=Idle manager for Niri
After=graphical-session.target
# ConditionEnvironment=XDG_CURRENT_DESKTOP=niri


[Service]
Type=simple

ExecStartPre=/bin/sh -c 'systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP'

ExecStart=/usr/bin/swayidle -w \
    timeout 600 'systemctl suspend' \
    lock 'hyprlock --immediate' \
    before-sleep 'loginctl lock-session'

Restart=always
RestartSec=3


[Install]
WantedBy=default.target
