/* colors defined at top for easy configuring */
@define-color background #2C2A24;
@define-color second-background #3A372F;
@define-color text #DDD5C4;
@define-color borders #A0907A;
@define-color focused #D08B57;
@define-color focused2 #BFAA80;
@define-color color1 #7699A3;
@define-color color2 #8D7AAE;
@define-color color3 #78997A;
@define-color urgent #B05A5A;

/* font declared */
* {
  font-family: "ProFont IIx Nerd Font", monospace;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

/* idk what all this does */
window#waybar {
  background-color: @background;
  border-bottom: 0;
  margin: 10px 0 0 0;
  color: @text;
  /* border: 2px solid @focused; */
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* configuring the modules */
.modules-left {
  margin: 0px 0 0 0px;
  padding: 0 0 0 7px;
  background-color: @background;
  border-bottom: 2px solid @focused;
}

.modules-center {
  margin: 0px 0 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border-bottom: 2px solid @focused;
}

.modules-right {
  margin: 0px 0px 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border-bottom: 2px solid @focused;
}

window#waybar.bottom .modules-left {
  margin: 0px 0 0 0px;
  padding: 0 0 0 7px;
  background-color: @background;
  border-bottom: 0px solid @focused;
}

window#waybar.bottom .modules-right {
  margin: 0px 0 0 0px;
  padding: 0 0 0 7px;
  background-color: @background;
  border-bottom: 0px solid @focused;
}

window#waybar.bottom .modules-center {
  margin: 0px 0 0 0px;
  padding: 0 0 0 7px;
  background-color: @background;
  border-bottom: 0px solid @focused;
}

window#waybar.bottom button.focused {
  border-bottom: 3px solid @focused;
}

button {
  border: none;
}

/* left island */

/* menu pannel */
#custom-arch,
#custom-powerprofile,
#custom-themeswitcher {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 8px;
}

#custom-arch:hover {
  color: @color1;
}

#custom-powerprofile:hover {
  color: @color1;
}

#custom-themeswitcher:hover {
  color: @color1;
}

/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: @second-background;
}

#workspaces button.active {
  color: @focused2;
  background-color: @second-background;
}

#workspaces button.urgent {
  background-color: @background;
}

/* no idea what this does */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* media player */
#mpris {
  margin: 0 0 0 5px;
  padding: 0 9px;
  background-color: @background;
  color: @text;
}

#mpris.playing {
  background-color: @color3;
  border-radius: 2px;
  color: @background;
}

/* center module  */
#window {
  padding: 0 5px;
}

/* Right Island */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#custom-clipboard,
#custom-bluetooth,
#network {
  padding: 0 10px;
}

#clock:hover,
#battery:hover,
#custom-cpu:hover,
#custom-clipboard:hover,
#custom-bluetooth:hover,
#network:hover,
#idle_inhibitor:hover,
#custom-swaync:hover,
#backlight:hover,
#wireplumber:hover {
  color: @color1;
}

#idle_inhibitor {
  padding: 0 10px 0 0;
}

#custom-powerprofile {
  padding: 0 8px 0 4px;
}

/* Remaining Modules */
#backlight,
#wireplumber {
  padding: 0 5px;
}

#wireplumber.muted {
  background-color: @color2;
}

#custom-swaync {
  padding: 0 10px 0 5px;
  font-size: 16px;
  /* same scale as other icons */
  color: @text;
}

#battery.charging,
#battery.plugged {
  background-color: @focused2;
  color: @background;
}

#battery.critical:not(.charging) {
  background-color: @urgent;
  color: @text;
  animation: blink 0.5s steps(12) infinite alternate;
}

#custom-logo {
  /* background-color: #a37800; */
  /* padding: 6px 0.625rem 6px 0.625rem; */
  font-size: 1.25rem;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  color: @color1;
}

@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
