[Desktop Entry]
Type=Application
Name=Ghostty - Note Taking
Comment=Terminal dengan Class Berbeda
# Kunci utamanya ada di flag --class berikut:
Exec=ghostty --class=com.mitchellh.ghostty.note -e sh -c "tmuxp load -d note-taking && tmux attach -t note-taking"
Icon=com.mitchellh.ghostty
Terminal=false
Categories=System;TerminalEmulator;
StartupWMClass=com.mitchellh.ghostty.note
