
input {
    disable-power-key-handling

    keyboard {
        xkb {
        }
        numlock
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

}

output "DP-1" {

  mode "1920x1080@60.000" 
  scale 1
  transform "normal"
  // position x=1280 y=0
}


layout { // Set gaps around windows in logical pixels.
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
        active-color "#D08B57"
        inactive-color "#505050"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "sh" "-c" "$HOME/.local/bin/wallpaper.sh"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "sh"  "-c" "waybar -c $XDG_CONFIG_HOME/waybar/config.jsonc" 
spawn-at-startup "niri" "msg" "action" "focus-workspace" "Terminal"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}
prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    // Uncomment to turn off all animations.
    // off
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.5

    workspace-switch {
      spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001    
      off
    }
}


window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Zen picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title="^Gitnuro"
    default-column-width {}
}

window-rule {
    match title="^Guild Wars 2"
    default-column-width {}
    focus-ring {
        off
        // width 4
        // active-color "#D08B57"
        // inactive-color "#505050"
    }
}


window-rule {
    match app-id="Logseq"
    default-column-width {}
    open-on-workspace "Note"
    open-maximized true
}

window-rule {
    match app-id="foot"
    open-floating true
    // open-maximized true
    opacity 0.0  // atau 0.8 kalau mau kelihatan sedikit
    focus-ring {
        width 0
        // active-color "#D08B57"
        // inactive-color "#505050"
    }
    // default-column-width { fixed 800; } 
    // default-window-height { fixed 800; } 
    // default-column-width { fixed 1920; } 
    // default-window-height { fixed 1080; } 
    // default-floating-position x=20  y=20 relative-to="top-left"
}

window-rule {
    match app-id="waybar"
    geometry-corner-radius 19
    clip-to-geometry true
    draw-border-with-background false
}


workspace "File" {
  open-on-output "DP-1"
}


workspace "Media" {
  open-on-output "DP-1"
}


workspace "Mail" {
  open-on-output "DP-1"
}


workspace "Note" {
  open-on-output "DP-1"
}


workspace "Code" {
  open-on-output "DP-1"
}

workspace "Terminal" {
  open-on-output "DP-1"
}

workspace "Tools" {
  open-on-output "DP-1"
}

workspace "Browser" {
  open-on-output "DP-1"
}

window-rule {
  match app-id="google-chrome" 
  open-on-workspace "Browser"
  open-maximized true
}

window-rule {
  match app-id="firefox" 
  open-on-workspace "Browser"
  open-maximized true
}


window-rule {
  match title="Zen" 
  open-on-workspace "Browser"
  open-maximized true
}


window-rule {
  match app-id="Ai-Chat" 
  open-on-workspace "Browser"
  open-maximized true
}


window-rule {
  match app-id="Youtube-Music" 
  open-on-workspace "Browser"
  open-maximized true
}

window-rule {
  match app-id="com.mitchellh.ghostty" 
  open-on-workspace "Terminal"
  open-maximized true
}


window-rule {
  match app-id="com.mitchellh.ghostty.note" 
  open-on-workspace "Note"
  open-maximized true
}

window-rule {
  match app-id="code" 
  open-on-workspace "Code"
  open-maximized true
}


window-rule {
  match app-id="Windsurf" 
  open-on-workspace "Code"
  open-maximized true
}


window-rule {
  match app-id="bruno" 
  open-on-workspace "Tools"
  open-maximized true
}


window-rule {
  match app-id="sublime_merge" 
  open-on-workspace "Tools"
  open-maximized true
}


window-rule {
  match app-id="org.mozilla.Thunderbird" 
  open-on-workspace "Mail"
  open-maximized true
}

window-rule {
  match app-id="discord" 
  open-on-workspace "Mail"
  open-maximized true
}


window-rule {
  match app-id="org.telegram.desktop" 
  open-on-workspace "Mail"
  open-maximized true
}

window-rule {
  match app-id="obsidian" 
  open-on-workspace "Note"
  open-maximized true
}


window-rule {
  match app-id="Spotify" 
  open-on-workspace "Media"
  open-maximized true
}


window-rule {
  match app-id="vlc" 
  open-on-workspace "Media"
  open-maximized true
}

window-rule {
  match app-id="thunar" 
  open-on-workspace "File"
  open-maximized true
}

window-rule {
    match title="About System"
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 800; }
    default-floating-position x=20 y=20 relative-to="top-left"
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    geometry-corner-radius 0 
    clip-to-geometry false
    draw-border-with-background false
    // tiled-state true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Space hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    // Mod+B hotkey-overlay-title="Open a Neovide " { spawn "noevide"; }
    
    //ROFI
    Mod+A hotkey-overlay-title="Rofi Search Password" { spawn-sh "sh ~/.local/bin/launch_passtore.sh"; }
    Mod+D hotkey-overlay-title="Rofi Search Application" { spawn-sh "sh ~/.local/bin/launch_app.sh"; }
    Mod+E hotkey-overlay-title="Rofi Search Active Window" { spawn-sh "sh ~/.local/bin/launch_window.sh"; }
    Mod+X hotkey-overlay-title="Rofi Session Menu" { spawn-sh "sh ~/.config/rofi/powermenu/powermenu.sh"; }
    Mod+S hotkey-overlay-title="Rofi Search Ssh" { spawn-sh "sh ~/.local/bin/launch_ssh.sh"; }
    Mod+C hotkey-overlay-title="Rofi Search History Clipboard" { spawn-sh "sh ~/.local/bin/launch_clipboard.sh"; }
    Mod+B hotkey-overlay-title="Rofi Calcurator" { spawn-sh "sh ~/.local/bin/launch_calc.sh"; }
    Mod+Shift+M hotkey-overlay-title="Rofi Kanata Menu" { spawn-sh "sh ~/.local/bin/launch_kanata_menu.sh"; }

    //Color Picker
    Mod+Shift+C hotkey-overlay-title="Pick Color Using Color Picker" { spawn-sh "hyprpicker -a -f hex -n"; } 
    Super+Alt+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }
    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+N              { focus-workspace-down; }
    Mod+P              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+N         { move-column-to-workspace-down; }
    Mod+Ctrl+P         { move-column-to-workspace-up; }

    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+N         { move-workspace-down; }
    // Mod+Shift+P         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    
    Mod+Shift+P { screenshot; }
    Ctrl+Shift+P { screenshot-screen; }
    Alt+Shift+P { screenshot-window; }

    // Mod+1 { focus-workspace 1; }
    Mod+1 { spawn "sh" "-c" "foot bash -c 'python3 ~/.local/bin/niri_prefix.py -ws \"Browser\"; exit'  "; } 
    // Mod+1 { spawn "foot" "-e" "printf '\/e]0;My Custom Title\/a'; exec bash"; }
    Mod+2 { spawn "sh" "-c" "foot bash -c 'python3 ~/.local/bin/niri_prefix.py -ws \"Terminal\"; exit'  "; }
    Mod+3 { spawn "sh" "-c" "foot bash -c 'python3 ~/.local/bin/niri_prefix.py -ws \"Code\"; exit'  "; }
    Mod+4 { spawn "sh" "-c" "foot bash -c 'python3 ~/.local/bin/niri_prefix.py -ws \"Note\"; exit'  "; }
    Mod+5 { spawn "sh" "-c" "foot bash -c 'python3 ~/.local/bin/niri_prefix.py -ws \"Mail\"; exit'  "; }
    Mod+0 { spawn "sh" "-c" "foot bash -c 'python3 ~/.local/bin/niri_prefix.py -ws \"None\"; exit'  "; }
    Mod+7 { spawn "sh" "-c" "foot bash -c 'python3 ~/.local/bin/niri_prefix.py -ws \"Media\"; exit'  "; }
    Mod+8 { spawn "sh" "-c" "foot bash -c 'python3 ~/.local/bin/niri_prefix.py -ws \"Tools\"; exit'  "; }
    Mod+9 { spawn "sh" "-c" "foot bash -c 'python3 ~/.local/bin/niri_prefix.py -ws \"File\"; exit'  "; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+M { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    // Mod+C { center-column; }

    // Center all fully visible columns on screen.
    // Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Mod+Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+O { power-off-monitors; }
}
